html {
	background-color: #02020c;
}
.navigation {
	text-align: center;
	margin-top: 70px;
	font-size: 26px;
	font-family: brandon-grotesque,sans-serif;
	font-weight: 400;
	font-style: normal;
}


.navigation a:hover {
	color: #a204df;
}

footer {
	color: white;
	font-family: brandon-grotesque,sans-serif;
	font-weight: 400;
	font-style: normal;
	margin-top: 7%;
	margin-left: 8px;
	font-size: 12px;
}

footer a {
	text-decoration: none;
	color: white;
	margin: 0px;
}

footer a:hover {
	color: #a204df;
}

.navigation a {
	margin: 50px;
	text-decoration: none;
	color: white;
}

hr {
	border-color: white;
}


span {
	color: #bfdc00;
}


div.images {
	margin-left: 50px;
}

#image1 {
	padding: 25px;
	display: inline-block;
	width: 42vw;
	margin: auto 0;
	text-align: center;
	margin-top: 50px;

}

#image2{
	padding: 25px;
	display: inline-block;
	width: 42vw;
	margin: auto 0;
	text-align: center;
	margin-top: 50px;

}
.musictext {
	color: white;
	font-family: brandon-grotesque,sans-serif;
	font-weight: 400;
	font-style: normal;
	margin-left: 95px;
	margin-top: 10px;
	display: inline-block;
	margin-right: 95px;


}

.one {
	color: #bfdc00;
	font-family: almaq-rough,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 22px;
}

.two {
	color: #bfdc00;
	font-family: almaq-rough,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 22px;
	
}


@media ( max-width: 770px ){
	.navigation {
	font-size: 18px; 

}
}


@media ( max-width: 770px ){
	a {
	margin: 40px; 
	
}
}

@media ( max-width: 1100px ){
	#image1, #image2 {
	width: 35vw;
	padding: 10px;
	
}
}

@media ( max-width: 1100px ){
	.musictext {
	margin-left: 75px;
	
}
}


@media ( max-width: 600px ){
	.navigation {
	font-size: 18px; 
	margin-top: 20px;

}
}

@media ( max-width: 600px ){
	hr {
	margin-top: 20px;

}
}

@media ( max-width: 600px ){
	a {
	margin: 20px;

}
}

@media ( max-width: 600px ){
	.musictext {
	margin-left: 45px;
	width: 80%;
	
}
}

@media ( max-width: 600px ){
	#image1, #image2 {
	margin-left: -15px
	
}
}

@media ( max-width: 600px ){
	footer {
	text-align: center;
	
}
}




