#phil {
	transform: scale(0.25);
	padding: 0px;
	margin-left: -800px;
	margin-top: -600px;
	margin-bottom: -550px;
}

#manny {
	transform: scale(0.25);
	padding: 0px;
	margin-left: -800px;
	margin-top: -600px;
	margin-bottom: -550px;
}

#lily {
	transform: scale(0.25);
	padding: 0px;
	margin-left: -800px;
	margin-top: -600px;
	margin-bottom: -550px;
}


h1 {
	margin-left: 175px;
	margin-top: 50px;
}

h2 {
	margin-left: 175px;
	margin-bottom: 40px;
}

footer {
	text-align: center;
	margin-top: 0px;
}

html {
	padding: 0px;
	margin: 0px;
}
